body {
    background-color: whitesmoke;
}

.monthlyCostDisplay {
    background-color: red;
    text-align: center;
    margin-inline-start: 40%;
    margin-inline-end: 40%;
}

#employeeInfoOut {
    border: 2px solid black;
    width: 70%;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
}
.table {
    text-align: left;
    border: 1px solid black;
    height: 35px;
    background-color: lightgrey;
}

div {
    margin: auto;
    width: 70%;
    align-content: center;
    text-align: center;
}

#monthlyCostOut {
    text-align: center;
}

.inputs {
    text-align: center;
}

.headerEmployeeTitle {
    margin-top: 44px;
    margin-bottom: 0px;
}

.tableHeader {
    background-color: lightsteelblue;
    border-bottom:1px solid black;
}


