.monthlyCostDisplay {
    background-color: red;
}

#employeeInfoOut {
    border: 2px solid black;
    width: 100%;
    text-align: center;
}

table {

    border-collapse: collapse;
    padding: 20px;
}
.table {
    text-align: center;
    border: 1px solid black;
}



